###SublimeText###
 
# SublimeText project files
*.sublime-workspace
sftp-config*.json


###OSX###
 
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Eclipse
bin/
*.class

#lab3
.eda216-lab3-settings

#no committing passwords
mysql_connect_data.inc.php

#logs
logs/